<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', { title:'Flex Fitness' }) %>  <!--Head-->
<body>   
    <%- include('../partials/header') %>  <!-- Header -->
    <%- include('../partials/navigation') %> <!-- Navigation -->
    <%- include('../partials/maincontent', { gymPage:gymPage }) %> <!-- Maincontent -->
    <%- include('../partials/footer') %><!-- footer -->   
</body>
</html>